.container{
    margin: auto;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 2%;
    border-radius: 5px;
    background-color: rgb(144, 190, 173);
    
    width: 50vh;
    margin-top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

.questao {
    margin: 0px;
    width: 45%;
    margin-right: 5%;
}

.number {
    height: 24px;
    width: 10%;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}

button {
    display: inline;
    margin: auto;
    background-color: blue;
    border-radius: 4px;
    border: solid;
    cursor: pointer;

    padding: 2%;
    font-size: 16px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

button:active{
    background-color: blueviolet;
}